*.swp
*.ttc
*~
\#*#
.#*
.DS_Store
sessions
Makefile
blib
*.log
pm_to_blib
MYMETA.json
MYMETA.yml
Makefile.old
Website
public/built
Crowdtilt-Public-Site-*
tlib
pan
ctpan
st/*.jar
.sass-cache
locallib
.local
node_modules
Rexfile.lock
inprogress.png
t/selenium/selenium-java-2.*.jar
