<!DOCTYPE html>
<html ng-app="app">

<head>
    <title>Bellesey Secret Shit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>

    <header class="clearfix">
        <div class="centered">
            <h1>
                <a href="/bellesey-blog">Bellesey Blog</a>
            </h1>
            <h2>Where Andrew Ray Gets Drunk and Wathches Belle and Zeus</h2>
        </div>
    </header>

    <div ng-controller="admin">

        <span ng-show="auth.user.displayName">{{ auth.user.displayName }}</span>
        <button ng-click="auth.$login('github')" ng-hide="auth.user.displayName">log in</button>
        <button ng-click="auth.$logout()" ng-show="auth.user.displayName">log out</button>

        <div ng-show="auth.user.displayName">

            <form novalidate class="main-form centered">
                <h3>New Post</h3>

                <label class="main-label" for="title">Title</label>
                <input class="main-input" id="title" type="text" ng-model="post.title" required />

                <label class="main-label" for="body">Body</label>
                <div>
                    <textarea id="body" class="main-textarea" type="text" wysihtml5="true" ng-model="post.body">
                    </textarea>
                </div>

                <label class="main-label" for="image">Image</label>
                <input class="main-input" id="image" type="text" ng-model="post.image" />

                <label class="main-label" for="classes">Tags</label>

                <select placeholder="Tags"
                    ng-options="tag.name for tag in tags"
                    ng-model="post.tags"
                    selectize="{ maxItems: 3 }"
                    required
                    multiple></select>

                <button ng-click="create( post )">create</button>
            </form>

            <div class="centered posts">

                <div class="post" ng-hide="post.deleted" ng-repeat="post in ( posts | orderByPriority | fireBy: 'creationdate':true )">

                    <div class="post-header clearfix">
                        <span ng-repeat="tag in post.tags"
                            ng-class="{ last: $last }"
                            class="icon-{{ tag.name | lowercase }}"
                            title="{{ tag.name }}"></span>
                        <div class="post-meta">
                            <h3 class="post-head {{ post.class }}">{{ post.title }}</h3>
                            <div class="post-date" prettydate="{{ post.creationdate }}"></div>
                        </div>
                    </div>

                    <div class="post-body" ng-bind-html="post.body"></div>

                    <a rel="gallery1"
                            ng-if="post.image"
                            href="{{ post.image }}"
                            title="{{ post.title }}"
                            fancybox>
                        <img class="post-image" ng-src="{{ post.image }}" class="post-image" />
                    </a>


                    <div class="post-tags">tags: <span class="tag-list">{{ post.tags | joinBy }}</span></div>

                    <div class="admin-actions">
                        image: <a href="{{ post.image }}">{{ post.image }}</a>
                        <button ng-click="remove( post )">delete this post</button>
                    </div>
                </div>

                <h2 class="neg-header">Trash</h2>

                <div class="neg-section">

                    <div class="post" ng-show="post.deleted" ng-repeat="post in posts | orderByPriority">
                        <h3 class="post-head {{ post.tags }}">{{ post.title }}</h3>
                        <div class="post-body" ng-bind-html-unsafe="post.body"></div>
                        <div class="admin-actions">
                            <button ng-click="revive( post )">revive this post</button>
                            <button ng-click="destroy( post )">permanently delete</button>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>

    <footer class="clearfix">
        <div class="centered">
            made with love by <a href="/">andrewray.me</a> | <a href="https://twitter.com/andrewray">@andrewray</a>
        </div>
    </footer>

    <script src="//cdn.firebase.com/v0/firebase.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.3/angular-sanitize.js"></script>
    <script src="//cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script src="../js/deps/simple.js"></script>
    <script src="../js/deps/wysihtml5-0.3.0.min.js"></script>
    <script src='https://cdn.firebase.com/js/simple-login/1.3.0/firebase-simple-login.js'></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="../js/deps/selectize.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/admin.js"></script>

</body>

</html>
